<style type="text/css">
 .btn_menu{
 background:#eaeaea;
 box-shadow: 0px 0px 5px #808080;
 border-radius: 5px; 
 border:solid 4px #fff;
  color:#9fc30b;
 cursor: pointer;
 float: left;
 font: bold 26px Arial; 
 left:35%; 
 height: 28px;
 padding: 6px;
 position: relative;
 text-align: center;
 text-decoration: none;
 top: 20px;
 width: 150px;

 transition: 1s, box-shadow 1s, font 1s, z-index 1s;
 transform: scale(1,1);
 -webkit-transform: scale(1,1); 
 -moz-transform: scale(1,1); 
 -o-transform: scale(1,1); 

}
.btn_menu:hover{
 box-shadow: 0px 0px 15px #808080;
 transform: scale(1.5,1.5); 
 -webkit-transform: scale(1.5,1.5);
 -moz-transform: scale(1.5,1.5);
 -o-transform: scale(1.5,1.5);
}
</style>